<!DOCTYPE html>
<html>
  <head>
    <title>API Documentation</title>
  </head>
  <body>
    <h4>Hello!</h4>
    <br />
    <h4>
      You are seeing the API Documentation for "P.C. Delivery" restaurant app.
    </h4>
    <br />
    <h4>
      This app is my final project for MIT xPro bootcamp. The deployed version
      can be found at:
    </h4>
    <a href="add AWS URL HERE">this link</a>

    <h4>
      This is just the server side of it. Not much to see here. However, the
      server is created using GraphQl Apollo Client, so you can always go to
    </h4>

    <a href="https://studio.apollographql.com/sandbox/explorer">Sandbox</a>
    <h4>
      enter "philip-restaurantapp.herokuapp.com/graphql" in the upper
      left corner and query the database, if you wish. The schemas are
      pre-written, so all you have to do is select the ones you want to query
    </h4>
    <br />
    <h3>Enjoy!</h3>
  </body>
</html>
